[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

jupyter = "*"
numpy = "*"
matplotlib = "*"
pandas-ml = "*"
pandas = "==0.25.3"


[requires]

python_version = "3.7"
